<div id="main-nav-wrapper" class="w3-hide-large w3-hide w3-animate-top">
    <div class="w3-row w3-teal">
        <div class="w3-col m5">
            <div class="w3-bar-block">
                <a href="{{ path('homepage') }}" class="w3-bar-item w3-button w3-padding-16 w3-center"><i class="fas fa-home"></i></a>
                <a href="{{ path('homeproducts') }}" class="w3-bar-item w3-button w3-padding-16 w3-center">{{ l('mainnav:products')|capitalize }}</a>
                {% set parameters = {'slug': 'about'} %}
                <a href="{{ path('pagebinding', parameters) }}" class="w3-bar-item w3-button w3-padding-16 w3-center">{{ l('mainnav:about')|capitalize }}</a>
                {% set parameters = {'slug': 'contact'} %}
                <a href="{{ path('pagebinding', parameters) }}" class="w3-bar-item w3-button w3-padding-16 w3-center">{{ l('mainnav:contact')|capitalize }}</a>
            </div>
        </div>
        <div class="w3-col m7">
            <div class="w3-bar-block">

                {% if not app.session.get('customer') %}
                    <a href="{{ path('memberspage') }}" class="w3-bar-item w3-button w3-padding-16 w3-center">{{ l('members:login:submit')|capitalize }} <i class="fas fa-sign-in-alt"></i></a>
                    {% else %}

                    <button id="show-customer-menu-small" class="w3-bar-item w3-button w3-teal w3-padding-16 w3-center">{{ app.session.get('customer').email }} <i class="fas fa-sort-down"></i></button>
                    <div id="customer-menu-small" class="w3-white w3-text-teal w3-hide" style="right: 0">
                        <ul class="w3-ul">
                            <li><a class="w3-bar-item w3-button" href="#"><i class="fas fa-cog"></i> Profile</a></li>
                            <li><a class="w3-bar-item w3-button" href="{{ path('logoutcontroller') }}"><i class="fas fa-sign-out-alt"></i> {{ l('members:logout-button')|capitalize }}</a></li>
                        </ul>

                    </div>
                {% endif %}

                <button id="show-localeswitcher-small" class="w3-bar-item w3-button w3-teal w3-padding-16 w3-center">{{ getlanguage()|upper }} <i class="fas fa-sort-down"></i></button>
                <div id="localeswitcher-small" class="w3-white w3-text-teal w3-hide" style="right: 0">
                    {{ localeswitcher(classes = 'w3-ul') }}
                </div>

            </div>
        </div>
    </div>
</div>

<div id="nav-main-wrapper" class="w3-container w3-hide-small w3-hide-medium w3-card w3-padding-16">
    <div class="w3-bar w3-text-teal">
        <a href="{{ path('homepage') }}" class="w3-bar-item w3-button"><i class="fas fa-home"></i></a>
        <a href="{{ path('homeproducts') }}" class="w3-bar-item w3-button">{{ l('mainnav:products')|capitalize }}</a>
        {% set parameters = {'slug': 'about'} %}
        <a href="{{ path('pagebinding', parameters) }}" class="w3-bar-item w3-button">{{ l('mainnav:about')|capitalize }}</a>
        {% set parameters = {'slug': 'contact'} %}
        <a href="{{ path('pagebinding', parameters) }}" class="w3-bar-item w3-button">{{ l('mainnav:contact')|capitalize }}</a>
    </div>
</div>
