<!DOCTYPE html>
<html lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# make sure we always display a proper title: The record's title if there is one, appended with the
           sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
        <title>
            {%- if record.title is defined %}{{ record.title|striptags }} | {{ config.get('general/sitename') }} {% endif -%}
                {#{{ config.get('general/sitename') -}}#}
                {% if record.title is not defined and config.get('general/payoff') %} Products | {{ config.get('general/sitename') }}{% endif -%}
            </title>
            {% for key, locale in locales|default([]) %}
                <link rel="alternate" hreflang="{{key|replace({'_': '-'})}}" href="{{locale.getUrl()}}">
            {% endfor %}
            <link rel="stylesheet" href="{{ asset('assets/css/lightslider.css', 'theme') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/styles2.css', 'theme') }}">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        </head>
        <body>

            <div id="page">

                {% block body %}

                    {{ include('partials/_header.twig') }}

                    {{ include('partials/_main_navegation.twig') }}

                    <div id="section-center" class="w3-container w3-padding-16">

                        <div class="w3-row-padding">

                            <div id="aside-wrapper" class="w3-col l3">
                                {{ include('partials/_aside.twig') }}
                            </div>

                            <div id="main-content" class="w3-col l9">
                                {% block main %}
                                {% endblock main %}
                            </div>

                        </div>

                    </div>

                {% endblock body %}



                {{ include('partials/_footer.twig') }}

            </div> <!-- end page -->

        </body>
    </html>
