<!DOCTYPE html>
<html lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# make sure we always display a proper title: The record's title if there is one, appended with the
           sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
        <title>
            {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
                {{ config.get('general/sitename') -}}
                {% if record.title is not defined and config.get('general/payoff') %} | {{ config.get('general/payoff') }}{% endif -%}
            </title>
            {% for key, locale in locales|default([]) %}
                <link rel="alternate" hreflang="{{key|replace({'_': '-'})}}" href="{{locale.getUrl()}}">
            {% endfor %}
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css', 'theme') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/styles.css', 'theme') }}">
            <style>

                a#logotipo {
                    background-image: url("{{ paths.files }}nubai-new-logo-small.png");
                }

                @media (min-width: 992px) {

                    a#logotipo {
                        background-image: url("{{ paths.files }}nubai-new-logo-medium.png");
                    }
                }

            </style>
        </head>
        <body>

            <div id="page" class="container-fluid">

                {% block body %}

                    {{ include('partials/_header.twig') }}

                    <div id="section_center" class="row">

                        <div id="nav-main-wrapper" class="col-md-12">
                            {% if app.session.has('customer') %}
                                {{ menu('mymainsession', '@bolt/frontend/_sub_menu_translated.twig') }}
                            {% else %}
                                {{ menu('mymain', '@bolt/frontend/_sub_menu_translated.twig') }}
                            {% endif %}
                        </div>

                        <div id="locale-switcher-wrapper" class="col-md-12">
                            {{ localeswitcher() }}
                        </div>

                        <div id="main-content" class="col-md-12">
                            {% block main %}
                            {% endblock main %}
                        </div>

                    </div>

                {% endblock body %}



                {{ include('partials/_footer.twig') }}

            </div> <!-- end page -->

        </body>
    </html>
