<!DOCTYPE html>
<html lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# make sure we always display a proper title: The record's title if there is one, appended with the
           sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
        <title>
            {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
                {{ config.get('general/sitename') -}}
                {% if record.title is not defined and config.get('general/payoff') %} | {{ config.get('general/payoff') }}{% endif -%}
            </title>
            {% for key, locale in locales|default([]) %}
                <link rel="alternate" hreflang="{{key|replace({'_': '-'})}}" href="{{locale.getUrl()}}">
            {% endfor %}
            <!--<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css', 'theme') }}">-->
            <link rel="stylesheet" href="{{ asset('assets/css/styles2.css', 'theme') }}">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        </head>
        <body>

            <div id="page">

                {% block body %}

                    {{ include('partials/_header.twig') }}

                    <div id="nav-main-wrapper" class="w3-hide-large">
                        <div class="w3-row w3-teal">
                            <div class="w3-half">
                                <div class="w3-bar-block">
                                    <a href="{{ path('homepage') }}" class="w3-bar-item w3-center"><i class="fas fa-home"></i></a>
                                    <a href="{{ path('homeproducts') }}" class="w3-bar-item w3-center">{{ l('mainnav:products')|capitalize }}</a>
                                    {% set parameters = {'slug': 'about'} %}
                                    <a href="{{ path('pagebinding', parameters) }}" class="w3-bar-item w3-center">{{ l('mainnav:about')|capitalize }}</a>
                                    {% set parameters = {'slug': 'contact'} %}
                                    <a href="{{ path('pagebinding', parameters) }}" class="w3-bar-item w3-center">{{ l('mainnav:contact')|capitalize }}</a>
                                </div>
                            </div>
                            <div class="w3-half">
                                <h2 class="w3-center">w3-half</h2>
                            </div>
                        </div>
                    </div>

                    <div id="nav-main-wrapper" class="w3-container w3-hide-small w3-hide-medium w3-card w3-padding-16">
                        <div class="w3-bar w3-text-teal">
                            <a href="{{ path('homepage') }}" class="w3-bar-item w3-button"><i class="fas fa-home"></i></a>
                            <a href="{{ path('homeproducts') }}" class="w3-bar-item w3-button">{{ l('mainnav:products')|capitalize }}</a>
                            {% set parameters = {'slug': 'about'} %}
                            <a href="{{ path('pagebinding', parameters) }}" class="w3-bar-item w3-button">{{ l('mainnav:about')|capitalize }}</a>
                            {% set parameters = {'slug': 'contact'} %}
                            <a href="{{ path('pagebinding', parameters) }}" class="w3-bar-item w3-button">{{ l('mainnav:contact')|capitalize }}</a>
                        </div>
                    </div>

                    <div id="section-center" class="w3-container w3-padding-16">

                        <div class="w3-row">

                            <div id="main-content" class="w3-col">
                                {% block main %}
                                {% endblock main %}
                            </div>

                        </div>

                    </div>

                {% endblock body %}



                {{ include('partials/_footer.twig') }}

            </div> <!-- end page -->

        </body>
    </html>
