{% extends 'partials/_master_products.twig' %}

{% block main %}

    {% setcontent relatedproducts = 'products' where { subcategory: subcategory.id } allowpaging limit 12 %}
    
    <div>
        {% for product in relatedproducts %}
            <div class="product-preview w3-mobile w3-card">
                <a href="{{ product.link }}">
                    {% for image in product.images %}
                        {% if loop.first %}
                            <img src="{{ paths.files }}{{ image.filename }}" alt="{{ image.filename }}" />
                        {% endif %}
                    {% endfor %}
                    <h3>{{ product.title }}</h3>
                </a>
                {% if product.discount != 0 %}
                    <span>{{ product.price }}$00 ECV</span>
                    <h2>{{ product.price - (product.price * product.discount / 100) }}$00 ECV</h2>
                    <span><strong>Poupa {{ product.discount }}%</strong></span>
                {% else %}
                    <h2>{{ product.price }}$00 ECV</h2>
                {% endif %}
                {{ include('partials/_recordfooter.twig') }}
            </div>
        {% endfor %}
        {{ pager('products') }}
    </div>

{% endblock main %}
