{% extends 'partials/_master_products.twig' %}

{% block main %}
    <div>
        {% for product in records %}
            <div class="product-preview">
                <a href="/{{ product.contenttype.singular_slug }}/{{ product.slug }}">
                    <h3 class="page-title">{{ product.title }}</h3>
                    {% for image in product.images %}
                        {% if loop.first %}
                            <img src="{{ paths.files }}{{ image.filename }}" alt="{{ image.filename }}" class="width100">
                        {% endif %}
                    {% endfor %}
                </a>
                {% set relatedrecords = product.related() %}
                {% if relatedrecords is not empty %}
                    <p>
                        {% for related in relatedrecords %}
                            <a href="{{ related.link }}">/{{ related.title }}/</a>
                        {% endfor %}
                    </p>
                {% endif %}
                {{ include('partials/_recordfooter.twig') }}                
            </div>
        {% endfor %}
        {{ pager(template = 'partials/_sub_pager.twig') }}
    </div>
    
{% endblock main %}
