{% extends 'partials/_master_products.twig' %}

{% block main %}

    {% setcontent relatedproducts = 'products' where { subcategory: subcategory.id } allowpaging limit 12 %}

    <div>
        {% for product in relatedproducts %}
            <div class="product-preview w3-border">
                <a href="{{ product.link }}">
                    {% for image in product.images %}
                        {% if loop.first %}
                            <img src="{{ paths.files }}{{ image.filename }}" alt="{{ image.filename }}" />
                        {% endif %}
                    {% endfor %}
                </a>
                <div class="product-preview-details">
                    <span class="product-title"><a href="{{ product.link }}">{{ product.title }}</a></span><br>
                        {% if product.discount != 0 %}
                        <div class="product-prices w3-padding-16">
                            <span class="product-old-price w3-text-gray w3-small">{{ product.price|number_format(2, '$', ',') }} ECV</span><br>
                            <span class="product-price">{{ (product.price - (product.price * product.discount / 100))|number_format(2, '$', ',') }}</span> <span class="w3-small">ECV</span><br>
                            <span class="product-discount w3-red"><strong>{{ l('palavra:save')|capitalize }} {{ product.discount }}%</strong></span><br>
                        </div>
                    {% else %}
                        <div class="product-prices w3-padding-16">
                            <span class="product-price">{{ product.price|number_format(2, '$', ',') }}</span> <span class="w3-small">ECV</span><br>
                        </div>
                    {% endif %}
                    {{ include('partials/_recordfooter.twig') }}
                </div>
            </div>
        {% endfor %}
        {{ pager('products') }}
    </div>

{% endblock main %}
