{% extends 'partials/_master_products.twig' %}

{% block main %}
    <div class="w3-row-padding">
        <div class="w3-col">
            <h2>{{ product.title }}</h2>
        </div>
        <div class="w3-col l5">
            <ul id="lightSlider">
                {% for image in product.images %}
                    <li>
                        <img src="{{ paths.files }}{{ image.filename }}" alt="{{ image.filename }}">
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="w3-col l4">{{ product.description }}</div>
        <div id="numbers-box" class="w3-col l3">
            {% if product.discount != 0 %}
                <span>{{ product.price }}$00 ECV</span> <span>- {{ product.discount }}%</span>
                <h2>{{ product.price - (product.price * product.discount / 100) }}$00 ECV</h2>
                <p>Em stock: {{ product.stock }}</p>
            {% else %}
                <h2>{{ product.price }}$00 ECV</h2>
                <p>Em stock: {{ product.stock }}</p>
            {% endif %}
            {{ include('partials/_recordfooter.twig') }}
        </div>
    </div>
    {#{{ dump(product) }}#}
{% endblock main %}
