{% extends 'partials/_master_products.twig' %}

{% block main %}
    <div>
        {% for product in records %}
            <div class="product-preview">
                <a href="/{{ product.contenttype.singular_slug }}/{{ product.slug }}">
                    {% for image in product.images %}
                        {% if loop.first %}
                            <img src="{{ paths.files }}{{ image.filename }}" alt="{{ image.filename }}">
                        {% endif %}
                    {% endfor %}
                    <h3 class="page-title">{{ product.title }}</h3>
                </a>
                {% if product.discount != 0 %}
                    <span style="color: gray; text-decoration: line-through">{{ product.price }}$00 ECV</span>
                    <h2>{{ (product.price - (product.price * product.discount / 100))|round }}$00 ECV</h2>
                    <span style="background-color: red; color: white; padding: 2px 3px"><strong>Poupa {{ product.discount }}%</strong></span>
                {% else %}
                    <h2>{{ product.price }}$00 ECV</h2>
                {% endif %}
                {% set relatedrecords = product.related() %}
                {% if relatedrecords is not empty %}
                    <p>
                        {% for related in relatedrecords %}
                            <a href="{{ related.link }}">/{{ related.title }}/</a>
                        {% endfor %}
                    </p>
                {% endif %}
                {{ include('partials/_recordfooter.twig') }}                
            </div>
        {% endfor %}
        {{ pager(template = 'partials/_sub_pager.twig') }}
    </div>

{% endblock main %}
